header {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
}

#nav {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
}

#left {
    float: left;
    background: blue;
    border: 1px solid #eee;
    padding: 20px;
    margin-bottom: 20px;
    width: 50%;
}

#aside {
    float: left;
    background: green;
    border: 1px solid #eee;
    padding: 20px;
    margin-bottom: 20px;
    width: 50%;
}

footer {
    clear: both;
    background: #ebebeb;
    padding: 20px;
    margin-top: 20px;
}