body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin: auto
}

header {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
}

#nav {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
}

#head {
    background: #ebebeb;
    color: #777;
    border: 1px solid #ebebeb;
    padding: 20px;
}

p {
    background-color: #ebebeb;
    color: #777;
    border: 1px solid #ebebeb;
    padding: 20px;
    
}


#left {
    float: left;
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 50%;
    
    
}

article {
    background: #777;
    color: #ebebeb;
    border: 20px solid #777
}


#aside {
    float: right;
    background:#ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    width: 38%;
    height: 368px;
   

}

footer {
    clear: both;
    background: #ebebeb;
    padding: 20px;
    margin-top: 20px;
}